html{
    text-align: center;
    background-color: #47304B;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

body{
    margin: 0;

}
h1{
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
h1, h2, h3, h4, p{
    color: #F79A55;
    text-shadow: black 0.1em 0.1em 0.2em
}
header{
    background-color:rgb(60, 41, 63);
}
footer{
    background-color:rgb(60, 41, 63);
    padding: .5rem 1rem;
    margin-top: 45px;
    text-align: center;
    font-size: .8rem;
    font-family: 'Bangers', cursive;
}
footer p{
    color:#F79A55;
}

li img{
    width: 5%;
    margin: -10px 30px 0 30px;
}

section img{
    width: 6%;
    margin: 0 30px 0 30px;
}

li{
    list-style:none;
}


hr{
    border:none ;
    border-radius: 5px;
    height: 2px;
    background-image: linear-gradient(to right,  #47304B, #F79A55,
    #47304B);
    width: 15%;
    margin: 20px auto;  
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 20%; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.541);
}    

.banniere{
    width: 100%;
    border-top: #f79a55 5px solid;
    border-bottom: #f79a55 5px solid;
}

a{
text-decoration:none;
}
a:hover{
    opacity: 70%;
}

.select select {
        font-family: 'Bangers', cursive;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 12px 30px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #f79a55;
        color: #47304b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; 
        border-radius: 2px;
        text-align: center;
        font-size: 0.9em;
        font-weight: bolder;
        letter-spacing: 0.1em;
       
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #47304b;
            background: #f5a86f;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
       
        .fleche{
            text-align: center;
            width: 3%;
            margin-top: -15px;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 600px) {
            .select {
                width: 50%;
            }  
            section img{
                width: 19%;
                margin: 5 10px 0 10px;
            }
            li img{
                width: 17%;
                margin: 5px 30px 0 30px;
            }

            #type{
                margin-top: -15px;
            }
            hr{
                width: 50%;
                margin-bottom: 5px;
            }
            h1{
                margin-top: 0;
            }

            .bann800{
                background-image: url(images/ban800.png);
                height:60px;
                border-top: #f79a55 3px solid;
                border-bottom: #f79a55 3px solid;
                margin-left: 0;
                margin-right: 0;
            }
            .banniere{
                display: none;
            }
            .fleche{
                text-align: center;
                width: 10%;
                margin-top: -15px;
                margin-bottom: 10px;
            }
            footer{
                background-color:rgb(50, 34, 53);
                padding: .5rem 1rem;
                margin-top: 45px;
                text-align: center;
                font-size: .6rem;
                font-family: 'Bangers', cursive;
            }
            footer p{
                color:#F79A55;
            }
        }